/* lobser font added */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
#result{
    display:none ;
    text-align: center;
    color:red;
}
#blank{
    display:none ;
    text-align: center;
    color:red;
}
.site-title{
    font-family: 'Lobster', cursive;
}